@model List<Author>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "AuthorList";
}

<h1>저자리스트</h1>


<table class="table">
    @foreach (var author in Model)
    {
        <tr>
            <td>
                @author.DB_QUOTE
            </td>
            <td>
                @author.DB_AUTHOR
            </td>
            <td>
                @author.DB_MORE1
            </td>
            <td>
                @author.DB_MORE2
            </td>
        </tr>
    }
</table>
